<form (submit)="$event.preventDefault()" (ngSubmit)="generate()">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input [(ngModel)]="fName" name="first" matInput #first />
    @if (firstNameAutofilled) {
    <mat-hint>Autofilled!</mat-hint>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput #last [(ngModel)]="lName" name="last" />
    @if(lastNameAutofilled){
    <mat-hint>Autofilled!</mat-hint>
    }
  </mat-form-field>
  <button mat-raised-button>submit</button>
</form>

{{ fName }}
<div>
  {{ lName }}
</div>
