<hr />
<div style="text-align: center" class="my-4">
  <strong>NOTICE BOARD</strong>
</div>
<mat-card appearance="outlined">
  <mat-card-content class="my-3 text-danger" style="text-align: center"
    ><a href="#" class="text-decoration-none text-danger">
      Special and Supplementary Examination Dates Notice -August 2024
    </a></mat-card-content
  >
  <mat-card-content class="my-3 text-danger" style="text-align: center">
    <a href="#" class="text-decoration-none text-danger"
      >Special and Supplementary Examination Dates Notice -August 2024</a
    ></mat-card-content
  >
  <mat-card-content class="my-3 text-danger" style="text-align: center">
    <a href="#" class="text-decoration-none text-danger"
      >Special and Supplementary Examination Dates Notice -August 2024</a
    ></mat-card-content
  >
  <mat-card-content class="my-3 text-danger" style="text-align: center">
    <a href="#" class="text-decoration-none text-danger"
      >Special and Supplementary Examination Dates Notice -August 2024</a
    ></mat-card-content
  >
  <mat-card-content class="my-3 text-danger" style="text-align: center"
    >Special and Supplementary Examination Dates Notice -August
    2024</mat-card-content
  >
  <mat-card-content class="my-3 text-danger" style="text-align: center">
    <a href="#" class="text-decoration-none text-danger"
      >Special and Supplementary Examination Dates Notice -August 2024</a
    ></mat-card-content
  >
</mat-card>
