<div *ngIf="isPhone">
  <button type="button" (click)="showExpense(1)" class="btn text-dark mx-1">
    Year 1
  </button>
  <button type="button" (click)="showExpense(2)" class="btn text-dark mx-1">
    Year 2
  </button>
  <button type="button" (click)="showExpense(3)" class="btn text-dark mx-1">
    Year 3
  </button>
  <button type="button" (click)="showExpense(4)" class="btn text-dark mx-1">
    Year 4
  </button>
</div>
<div *ngIf="isPhone === false">
  <button type="button" (click)="showExpense(1)" class="btn text-dark mx-5">
    First Year
  </button>
  <button type="button" (click)="showExpense(2)" class="btn text-dark mx-5">
    Second Year
  </button>
  <button type="button" (click)="showExpense(3)" class="btn text-dark mx-5">
    Third Year
  </button>
  <button type="button" (click)="showExpense(4)" class="btn text-dark mx-5">
    Forth Year
  </button>
</div>
<div *ngIf="btn === 1">
  <div [hidden]="hideCost">
    <hinv-cost></hinv-cost>
  </div>
</div>
<div *ngIf="btn === 2">
  <div [hidden]="hideCost">
    <hinv-cost2-year></hinv-cost2-year>
  </div>
</div>
<div *ngIf="btn === 3">
  <div [hidden]="hideCost">
    <hinv-cost3year></hinv-cost3year>
  </div>
</div>
<div *ngIf="btn === 4">
  <div [hidden]="hideCost">
    <hinv-year4-cost></hinv-year4-cost>
  </div>
</div>
