<div class="row">
  <div class="col">
    <span class="label">STUDENT NAME:</span>
    <span>
      {{ studentName }}
    </span>
  </div>

  <div class="col">
    <span class="label">PROGRAMME:</span>
    <span>{{ programme }}</span
    >({{ course }})
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="label"> DEPARTMENT </span>
    DEPARTMENT OF {{ department }}
  </div>
  <div class="col">
    <span class="label">SCHOOL/FACULTY:</span>
    <span>{{ school }}</span>
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="label">REGNO:</span>
    {{ regNo }}
  </div>
  <div class="col">
    <span class="label">ADMISSION YEAR:</span>
    {{ admissionYear }}
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="label"> YEAR OF STUDY</span>
    {{ yearOfStudy }}
  </div>
  <div class="col">
    <span class="label">TERM:</span>
    {{ term }}
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="label">STUDENT TYPE</span>
    {{ studentType }}
  </div>
</div>
