<div><hinv-year2sem1></hinv-year2sem1></div>
<div>year 2</div>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> sem 1 {{ from }}/{{ to }} </mat-panel-title>
      <mat-panel-description>
        unit history for semister 1 year 1
      </mat-panel-description>
    </mat-expansion-panel-header>
    <hinv-table-year2-sem1></hinv-table-year2-sem1>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> sem 2 {{ from }}/{{ to }} </mat-panel-title>
      <mat-panel-description>
        Currently I am {{ panelOpenState() ? "open" : "closed" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <hinv-table-year2-sem2></hinv-table-year2-sem2>
  </mat-expansion-panel>
</mat-accordion>
