<!-- <hinv-year1-fees></hinv-year1-fees> -->
<hinv-year2-fees></hinv-year2-fees>
<h3 class="mt-3">Year 3</h3>
<div *ngIf="year === 3 && sem === 1">
  <div>
    <hinv-paid3sem1></hinv-paid3sem1>
  </div>
</div>
<div *ngIf="year === 3 && sem === 2">
  <div>
    <hinv-paid3sem1></hinv-paid3sem1>
  </div>
  <div>
    <hinv-paid3sem2></hinv-paid3sem2>
  </div>
</div>
<div *ngIf="year === 4">
  <div>
    <hinv-paid3sem1></hinv-paid3sem1>
  </div>
  <div>
    <hinv-paid3sem2></hinv-paid3sem2>
  </div>
</div>
