<div class="grid-container" style="background-color: lightgray">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
    <mat-grid-tile
      [colspan]="card.cols"
      [rowspan]="card.rows"
      *ngIf="card.studentInfo"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div class="text-Laikipia" *ngIf="card.studentInfo">
              {{ card.title }}
            </div>
            <!-- <div class="text-Laikipia" *ngIf="card.finance">
              {{ card.title }}
            </div> -->

            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- {{ card.content }} -->
          <div>
            <div class="my-3">RegNo : {{ card.regNo }}</div>
            <div class="my-3">
              Year: {{ card.year }} semister: {{ card.sem }}
            </div>
            <div class="my-3">Programme: {{ card.course }}</div>
            <div *ngIf="card.studentInfo" class="my-3">
              <div>
                <h2 class="example-h2">progress</h2>
                <div>
                  <div
                    class="progress"
                    role="progressbar"
                    aria-label="Example with label"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <div class="progress-bar">{{ progressValue }} %</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-card-content
          class="dashboard-card-content bg-primary text-white"
          *ngIf="card.finance"
        > -->
        <!-- {{ card.content }} -->
        <!-- finance -->
        <!-- <div>
            <div class="my-3">
              <strong>Fee Balance</strong> {{ card.FeeBalance }}
            </div>
          </div>
        </mat-card-content> -->
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="card.cols"
      [rowspan]="card.rows"
      *ngIf="card.hostelBooking"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div class="text-Laikipia">
              {{ card.title }}
            </div>

            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content
          class="dashboard-card-content"
          *ngIf="card.hostelBooking"
        >
          <!-- {{ card.content }} -->
          <hinv-hostels></hinv-hostels>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="card.cols"
      [rowspan]="card.rows"
      *ngIf="card.finance"
    >
      <mat-card class="dashboard-card bg-primary text-white">
        <mat-card-header>
          <mat-card-title>
            <div>
              {{ card.title }}
            </div>

            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- {{ card.content }} -->
          <div *ngIf="card.mobileDevice">
            <hinv-mobile-app-finance
              [FeeBalance]="card.FeeBalance"
            ></hinv-mobile-app-finance>
          </div>
          <div *ngIf="!card.mobileDevice">
            <hinv-finance [FeeBalance]="card.FeeBalance"></hinv-finance>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="card.cols"
      [rowspan]="card.rows"
      *ngIf="card.virtualAssistant"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div class="text-Laikipia">
              {{ card.title }}
            </div>

            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <!-- {{ card.content }} -->
          <hinv-app-virtual-assistant></hinv-app-virtual-assistant>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
