<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav text-white bg-danger"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="h5 my-3">Laikipia University</div>

    <mat-nav-list #drawer class="example-sidenav" mode="side">
      <a mat-list-item [routerLink]="'dashboard'">
        <div class="text-white">Home</div>
      </a>
      <a mat-list-item [routerLink]="'socials'">
        <div class="text-white">Socials</div>
      </a>
      <a mat-list-item [routerLink]="'message'">
        <div class="text-white">Message</div>
      </a>
      <a mat-list-item [routerLink]="'admission'">
        <div class="text-white">Admission</div>
      </a>
      <a mat-list-item [routerLink]="'academic'"
        ><div class="text-white">Academic</div></a
      >
      <a mat-list-item [routerLink]="'repository'"
        ><div class="text-white">Repository</div></a
      >
      <a mat-list-item [routerLink]="'finance'"
        ><div class="text-white">Finance</div></a
      >

      <a mat-list-item [routerLink]="'timetable'"
        ><div class="text-white">TimeTable</div></a
      >
      <a mat-list-item [routerLink]="'evaluations'"
        ><div class="text-white">Evaluations</div></a
      >
      <a mat-list-item href="testing"><div class="text-white">testing</div></a>
      <a mat-list-item [routerLink]="'assistant'"
        ><div style="color: white">Assistant</div></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="bg-white text-dark">
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span>{{ fname }}'s portal</span>
      <div class="float-start">
        <mat-icon>sun</mat-icon>
        <!-- <mat-icon fontSet="fontIcons" fontIcon="fontIcon">font</mat-icon>
        <mat-icon svgIcon="svgIcons:svgIcon"></mat-icon>
        <mat-icon inline>ligature_icon</mat-icon>
        <mat-icon fontIcon="ligature_icon_by_attribute"></mat-icon> -->
      </div>

      <mat-menu #menu="matMenu">Laikipia University</mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <div style="background-color: lightgrey"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
