.form-container {
  position: fixed;
  bottom: 0;
  width: 80%;
  text-align: center;
  //   padding: 10px; /* Optional: padding */
  margin-bottom: 2rem;
}

// form {
//   max-width: 600px; /* Optional: limit the width of the form */
// }

mat-form-field {
  //   width: 500px;
  width: 80%;
  margin-right: 3rem;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.scrollable-content {
  height: calc(100% - 200px);
  overflow-y: auto;
}
