<mat-button-toggle-group
  appearance="legacy"
  [(ngModel)]="selectedButton"
  name="fontStyle"
  aria-label="Font Style"
>
  <mat-button-toggle value="cExamCard"> Current</mat-button-toggle>
  <mat-button-toggle value="pExamCard">Previous </mat-button-toggle>
  <mat-button-toggle value="supExamCard">Supplementary </mat-button-toggle>
  <mat-button-toggle value="specExamCard">Special </mat-button-toggle>
  <mat-button-toggle value="adminExamCard">Admin</mat-button-toggle>
</mat-button-toggle-group>
<div *ngIf="selectedButton === 'cExamCard'">
  <hinv-current-exam-card></hinv-current-exam-card>
</div>
<div *ngIf="selectedButton === 'pExamCard'">
  <hinv-previous-exam-card></hinv-previous-exam-card>
</div>
<div *ngIf="selectedButton === 'supExamCard'">
  <hinv-sup-exam-card></hinv-sup-exam-card>
</div>
<div *ngIf="selectedButton === 'specExamCard'">
  <hinv-spec-exam-card></hinv-spec-exam-card>
</div>
<div *ngIf="selectedButton === 'adminExamCard'">
  <hinv-admin-exam-card></hinv-admin-exam-card>
</div>
