<mat-accordion>
  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Year1 </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState() ? "open" : "closed" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Semister 1 </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year1-sem1></hinv-year1-sem1>
          </div>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>semister2</mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year1sem2></hinv-year1sem2>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Year 2 </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState() ? "open" : "closed" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Semister 1 </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year2sem1></hinv-year2sem1>
          </div>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Semister 2 </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year2sem2></hinv-year2sem2>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Year 3 </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState() ? "open" : "closed" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Semister 1 </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year3sem1></hinv-year3sem1>
          </div>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Semister 2 </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year3sem2></hinv-year3sem2>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Year 4 </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState() ? "open" : "closed" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Semister 1 </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year4sem1></hinv-year4sem1>
          </div>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Semister 2 </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hinv-year4sem2></hinv-year4sem2>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
